@import url("(https://fonts.google.com/specimen/Space+Grotesk)");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --Lightgrayishviolet: hsl(270, 3%, 87%);
  --Darkgrayishviolet: hsl(279, 6%, 55%);
  --Verydarkviolet: hsl(278, 68%, 11%);
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 500;
  background-image: url(./images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 35% 100%;
  background-color: var(--White);
}

.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

/* Front Card */
.front_card_container {
  position: absolute;
  z-index: 2;
  right: 60%;
  top: 17%;
}


.front_card_container .card_logo {
  position: absolute;
  left: 10%;
  top: 20px;
}

/* Back of the card */
.card_back_container {
  position: absolute;
  top: 50%;
  left: 20%;
}
/* 
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(158, 36%, 37%);
} */

/* Media Query */
@media screen and (max-width: 425px) {
 
  body {
    display: none;
  }
}
